.card{
    background-color: lightblue;
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:50px;
    border-radius: 10px;
    text-align: center;
}

.card:hover{
    transform: scale(1.05);
}